/* All */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accent-color: #40dcc0;
  --base-color: #f2f4f8;
  --surface-color: #fff;
  --text-color: #191b23;
  --secondary-text-color: #3c404f;
}

body {
  font-family: sans-serif;
  margin: 0;
  background: var(--base-color);
  color: var(--text-color);
}

h1 {
  margin-bottom: 16px;
}

button, input, textarea {
  font: inherit;
}

.layout {
  display: flex;
}
 
/* sidebar */
.sidebar {
  width: 90px;
  background: #2e2e2e;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 32px;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

/* buttons */
.add-note-btn {
  background: var(--accent-color);
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}

.add-note-btn:hover {
  background: #1c847f;
}



